/* General setup; do not change the given CSS code. Add your own CSS code at the bottom! */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&family=Merriweather&display=swap');

body{
  font-family: 'Monospace', serif;
  font-size: 0.625rem;
  letter-spacing: 0.075rem;
  word-spacing: 0.1rem;
  line-height: 1.5rem;
}

h1{
  display: flex;
  justify-content: center;
  font-size: 2.5em;
}

h2{
  font-size: 1.875em;
}

h1, h2 {
  font-family: 'Roboto Slab', sans-serif;
  letter-spacing: 0.25rem;
  word-spacing: 0.1rem;
}

section h2 + p{
  text-indent: 1.25rem;
}

nav ul{
  list-style-type: none;
  padding: 0%;
  margin: none;
}

nav a{
  color: #a66;
  background-color: rgb(255, 249, 226);
  text-decoration: none;
  padding: 0.95rem 1rem;
  margin-bottom: 1rem;
  display: block;
  text-align: center;
  border: 0.0625rem solid maroon;
  border-radius: 0.35rem;
  line-height: normal;
  font-size: 1rem;
  
}

nav a:hover{
  background-color: rgb(203, 184, 110);
}

a{
  outline-color: none;
}

a:link{
  color: rgb(128, 94, 0);
}

a:visited{
  color:blueviolet;
}

a:focus{
  outline: none;
}

a:hover{
  color: rgb(224, 98, 20);
  text-decoration: none;
}

a:active{
  box-shadow: 0.125rem 0.125rem 0.3rem maroon;
  border-radius: 0.35rem;
  font-family: 'Courier New', Courier, monospace;
}

section > p{
  line-height: 1.2rem;
}

section ul{
  list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="%23808"><path d="m12 3 2.23 6.88h7.23l-5.85 4.24L17.85 21 12 16.75 6.15 21l2.24-6.88-5.85-4.24h7.23L12 3z"></path></svg>');
  line-height: 1.2rem; 
}

section ol li{
  line-height: 1.2rem;
  list-style:upper-roman;
}

section p + h2{
  margin-top: 1.5rem;
}

p a{
  border-bottom: 0.05rem  #a66;
}

p + ul{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p + ol{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a[href^="http"]::after{
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 0.1rem;
  vertical-align: middle;
}

aside a{
  border-bottom: 0.05rem  #a66; 
}

aside li{
  list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="%23808"><path d="m12 3 2.23 6.88h7.23l-5.85 4.24L17.85 21 12 16.75 6.15 21l2.24-6.88-5.85-4.24h7.23L12 3z"></path></svg>');
  line-height: 1.2rem; 
}