/* General setup; do not change the given CSS code. Add your own CSS code at the bottom! */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&family=Merriweather&display=swap');

body{
  font-family: 'Monospace', serif;
  font-size: 0.625rem;
  letter-spacing: normal;
  word-spacing: normal;
}
h1{
  display: flex;
  justify-content: center;
  font-size: x-large;
}
h2{
  font-size: medium;
}
h1, h2 {
  font-family: 'Roboto Slab', sans-serif;
  word-spacing: 0.1rem;
}
section h2 + p{
  text-indent: 1.25rem;
}

nav ul{
  list-style-type: none;
  padding: 0%;
  margin: none;
}
nav a{
  color: #a66;
  background-color: rgb(255, 249, 226);
  text-decoration: none;
  padding: 0.95rem 1rem;
  margin-bottom: 13%;
  display: block;
  text-align: center;
  border: 1px solid maroon;
  border-radius: 5px;
  line-height: normal;
  font-size: 1rem;
}
nav a:hover{
  background-color: rgb(203, 184, 110);
}
a{
  outline-color: transparent;
}
a:link{
  color: rgb(128, 94, 0);
}
a:visited{
  color:blueviolet;
}
a:focus{
  outline: none;
}
a:hover{
  color: rgb(224, 98, 20);
  text-decoration: none;
}
a:active{
  box-shadow: 0.125rem 0.125rem 0.3rem maroon;
}
section > p{
  line-height: 1.2rem;
}
p a {
  border-bottom: 0.05rem  #a66;
}
aside a{
  border-bottom: 0.05rem  #a66;  
}